<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.corelib">

    <uses-sdk android:minSdkVersion="19"
        android:targetSdkVersion="29.0.2"
        tools:ignore="GradleOverrides"
        tools:overrideLibrary="br.com.core" />
</manifest>